{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat with Django Channels</title>
  <link rel="stylesheet" type="text/css" href="{% static 'chat/css/styles.css' %}">

</head>
<body>
  
  <h1>Chat Room Lobby</h1>
  
  <form id="form">
    <input type="text" name="message"/>
  </form>

  <div id="messages"></div>
  
  <script src="{% static 'chat/js/scripts.js' %}"></script>

</body>
</html>
